@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Huninn&display=swap');

body {
    background-color: #F3DBDB;
}

.players {
  display: grid;
  max-width: 500px;
  grid-template-columns: repeat(4, 1fr); 
  gap: 12px;
  padding: 10px;
}

.players button {
  aspect-ratio: 1;  
  border-radius: 12px;
  background: #3498db;
  color: white;
  border: none;
  transition: 0.2s;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.players button:hover {
  background: #2980b9;
}

.properties {
  background-color: #093b55;
  position: absolute;
  visibility: hidden;
  border-radius: 20px;
}
.properties h1 {
  font-family: "Huninn", sans-serif;
  margin-left: 20px;
  color: white;
}
.properties div { 
  color: yellow;
  z-index: 100;
  position: absolute;
  cursor: pointer;
}
.properties div:hover {
  color: yellowgreen;
}
.bacsi {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    background-color: #4f46e5;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s ease;
    font-family: 'Consolas', sans-serif;
}

.bacsi img {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
    margin-left: 0;
}

.bacsi:hover {
    background-color: #4338ca;
}
