@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Huninn&display=swap');

body {
    background-color: #F3DBDB;
    overflow-x: hidden;
}

.players {
  display: grid;
  max-width: 500px;
  grid-template-columns: repeat(4, 1fr); 
  gap: 12px;
  padding: 10px;
}

.players button {
  aspect-ratio: 1;  
  border-radius: 12px;
  background: #3498db;
  color: white;
  border: 5px solid white;
  transition: 0.2s;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.players button:hover {
  background: #2980b9;
}

.properties {
  background-color: #093b55;
  position: absolute;
  visibility: hidden;
  border-radius: 20px;
}
.properties h1 {
  font-family: "Huninn", sans-serif;
  margin-left: 20px;
  color: white;
}
.properties div { 
  color: yellow;
  z-index: 100;
  position: absolute;
  cursor: pointer;
}
.properties div:hover {
  color: yellowgreen;
}

.rolepanel button:hover , .aurapanel button:hover, .teampanel button:hover{
    background-color: #4338ca;
}
.rolepanel .title, .aurapanel .title, .teampanel .title {
  text-align: center;
}

.rolepanel , .aurapanel, .teampanel{
  border: 2px solid blue;  
  border-radius: 20px;
  color: white;
  position: absolute;
  top: 0px;
  width: 200px;
  max-height: 100vh;
  background-color: rgb(52, 113, 162);
  transition: left 0.5s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}